*{
    padding: 0;
    margin: 0;
}

.content{
    background-color: #425c81;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-cotent{
    width: 75%;
    min-height: 80vh;
    height: auto;
    display: flex;
    justify-content: space-between;
}


.left{
    position: relative;
    background-color:#D8E3E9 ;
    width: 50%;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-row{
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    align-items: flex-start;
}
.left-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-img img{
    width: 70%;
}

.header{
    align-self: flex-start;
}
.logo{
    display: flex;
    flex-direction: row;
}

.img-logo{
    width: 100px;
    height: 80px;
}

.caption-logo{
    display: flex;
    align-items: center;
    color: blue;
    font-weight: bold;
}

a {
    text-decoration: none !important;
  }

.caption{
    color: #2F2E41;
    font-size: 16px;
    text-align: center;
    margin:15px 0 0 0;
}

.right{
    background-color: white;
    width: 50%;
    border-radius: 0 10px 10px 0;
    padding: 50px;
    /* overflow: scroll; */
}

h1{
    font-size: 1.5rem !important;
}

small{
    opacity: 0.5;
}

.red-text{
    color: red;
}

.Login{
    padding: 8px;
}

.buttons-signup{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

button{
    border-radius: 7px !important;
    border: 1px solid #DCDCDC!important;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 48%;
    height: 40px;
    font-size: 13px !important;
}

hr{
    width: 44%;
}

.line{
    border-bottom: 1px solid black;
    text-align: center;
    margin: 10px 0;
    opacity: 0.2;
    line-height: 0.1em;
}

.line span{
    background-color: white;
    padding: 10px;
}

.input-text{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #DCDCDC;
}

.input-text:hover{
    border: 0.1rem solid #425c81;
}

.Register-button{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #425c81;
    background-color:#425c81 ;
    color: white;
}


.email{
    background-image: url(./img/mail.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 13px 9px;
    padding-left: 40px;
    font-size: 13px;
}

.pass{
    background-image: url(./img/lock.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 13px 9px;
    padding-left: 40px;
    font-size: 13px;
}

.checked{
    font-size: 13px;
    display: inline;
}

button:hover{
    box-shadow: 5px 5px 8px #DCDCDC ;
}

.Register-button:hover{
    background-color:#436c87 ;
    font-size: 17px;
}

@media (min-width: 411px) and (max-width:1024px) {
    .right {
      width: 100%;
      border-radius: 10px ;
    }
  }

  @media(min-width:1025px ) and (max-width:1200px)
  {
      .buttons-signup{
          display: flex;
          flex-direction: column  !important;
      }
      button{
          width: 100% !important;
      }
  }
  
  @media (max-width: 1024px) {
    .right {
      min-height: 50%;
      height: 100%;
      padding: 20px;
    }

    button>span{
        font-size: 12px;
    }
    
    .left {
      display: none;
    }
  }

  @media (max-height:500px){
      .box-cotent{
          margin:10px;
      }
  }

  @media(max-width:500px)
  {
      .right{
        width: 100%;
        border-radius: 10px ;
      }
      .buttons-signup{
        flex-direction: column;
        width: 100%;    
    }
    .buttons-signup button{
        width: 100%;
        margin-bottom: 5px;
    }
  }
  @media(min-width:1024px) and(max-width:1247px){
    .buttons-signup{
        flex-direction: column;
        width: 100%;    
    }
    .buttons-signup button{
        width: 100%;
        margin-bottom: 5px;
    }
  }